body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.login-container, .register-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px gray;
    margin-top: 50px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}
